.title{
    color: red;
    border-bottom: 1px solid black;
    text-align: center;
}

.subtitle{
    color: rgb(25,0,30);
    margin: 25px auto;
    max-width: 800px;
    width: 100%;
    font-size: 25px;
}